* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    list-style: none;
}

nav {
    border:3px solid black;
}

aside {
    margin: 1em;
}


.cart {
    background-color: orange;
    padding: 0.5em;
    margin-top: 1em;
}

.ponuka {
    background-color: brown;
    color: #fff;
    padding: 0.5em 1em;
}

.price, .nav-item {
    font-weight: bold;
}



